@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

*{
    word-break: break-all;
    -webkit-text-size-adjust: none;
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
html,
body,
h1,
h2,
h3,
h4,
p {
    
    margin: 0;
    overflow: hidden auto;
    
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    border: none;
    vertical-align: top;
}

a,
a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}
section{
    font-family:'Poppins', sans-serif;
    padding: 5rem 0;
    .title{
        margin-bottom:3rem;
        h4{
            font-size: 1.35rem;
            color: #1074D9;
            position: relative;
        }
        h2{
            font-size: 3.5rem;
        }
        p{
            font-size: 1.15rem;
        }
    }
}
section:nth-child(2n){
    background-color:#f8f8f8;
  }
  ::selection{
    background-color:#f89820 ;
    color: #fff;
}
