@import "_common";

html,
body {
    overflow: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
}

// header
header {
    position: fixed;
    color: white;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 1rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h1 {
            button {
                font-size: 2rem;
                font-weight: bold;
                color: #fff;
            }
        }

        nav {
            ul {
                display: flex;

                li {
                    padding: 10px;

                    button {
                        font-size: 1.2rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// main
main {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../resource/me.jpg') center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h4 {
        font-size: 2rem;
    }

    h2 {
        font-size: 3.5rem;
        margin: 2rem 0;
        letter-spacing: 3px;
        font-family: 'Varela Round', sans-serif;
        /* 웹 폰트 추가 */
    }

    p {
        max-width: 600px;
        margin: 0 auto;
        font-size: 1.25rem;
    }

    .go_to_Portfolio {
        border: 3px solid white;
        border-radius: 20px;
        padding: 1rem 2rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
        margin: 0 2rem 0rem 0;
    }

    .go_to_Contact {
        border: 3px solid white;
        border-radius: 20px;
        padding: 1rem 2rem;
        margin-top: 2rem;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .mouse {
        border: none;
        color: #fff;
        font-size: 2rem;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        animation: upDown 1s ease-in-out infinite;
        cursor: pointer;
    }

    @keyframes upDown {
        0% {
            bottom: 1rem;
        }

        50% {
            bottom: 1.5rem;
        }

        100% {
            bottom: 1rem;
        }
    }
}

// about
.about {
    .about-self {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            width: 50%;

            img {
                max-width: 100%;
            }
        }

        .right {
            width: 50%;
            padding: 0 2rem;

            h3 {
                font-size: 2rem;
                margin-bottom: 1rem;

                strong {
                    background-color: #1074D9;
                    color: #fff;
                }
            }

            p {
                word-break: keep-all;
                font-size: 1.15rem;
                margin: 1rem 0;
            }

            .social {
            }
        }
    }
}

// skill
.skill {
    .skill-me {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .skill-inner {
            background-color: #fff;
            width: 30%;
            padding: 2rem;
            cursor: pointer;

            .icon {
                i {
                    color: #1074D9;
                    font-size: 2.5rem;
                }
            }

            .content {
                h3 {
                    font-size: 2rem;
                    margin: 1rem 0;
                }

                p {
                    font-size: 1.15rem;
                }

                small {
                    display: inline-block;
                    font-size: 1rem;
                    margin: 1rem 0;
                }
            }
        }
    }
}

// portfolio
.portfolio-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;

    .portfolio-inner {
        width: 30%;
        padding: 1rem 1rem 1.5rem 1rem;
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        margin-bottom: 3rem;

        img {
            max-width: 100%;
            display: block;
        }

        strong {
            color: #1074D9;
            margin: 0.5rem 0;
            display: block;
        }

        h3 {
            font-size: 1.75rem;
        }
    }
}

.contact {
    .contact-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contact-inner {
            width: 30%;
            padding: 2rem;
            background-color: #f8f8f8;
            border: 1px solid #ccc;
            h3{
                font-size: 1.5rem;
                color: #1074D9;
            }
            h4{
                font-size: 1.15rem;
                padding-top: 1rem;
            }
            p{
                font-size: 1.05rem;
            }
            img{
                max-width: 100%;
                margin: 2rem 0;
            }
        }
    }
    .footer{
        padding: 5rem 0 ;
        text-align: center;
        strong{
            padding: 2rem 0;
            display: block;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    span{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}