@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  word-break: keep-all;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  overflow: hidden auto;
}

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  border: none;
  vertical-align: top;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

section {
  font-family: "Poppins", sans-serif;
  padding: 5rem 0;
}
section .title {
  margin-bottom: 3rem;
}
section .title h4 {
  font-size: 1.35rem;
  color: #1074D9;
  position: relative;
}
section .title h2 {
  font-size: 3.5rem;
}
section .title p {
  font-size: 1.15rem;
}

section:nth-child(2n) {
  background-color: #f8f8f8;
}

::-moz-selection {
  background-color: #f89820;
  color: #fff;
}

::selection {
  background-color: #f89820;
  color: #fff;
}

html,
body {
  overflow: scroll;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

header {
  position: fixed;
  color: white;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .container h1 button {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}
header .container nav ul {
  display: flex;
}
header .container nav ul li {
  padding: 10px;
}
header .container nav ul li button {
  font-size: 1.2rem;
  color: #fff;
}

main {
  width: 100%;
  height: 100vh;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../resource/me.jpg") center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main h4 {
  font-size: 2rem;
}
main h2 {
  font-size: 3.5rem;
  margin: 2rem 0;
  letter-spacing: 3px;
  font-family: "Varela Round", sans-serif;
  /* 웹 폰트 추가 */
}
main p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.25rem;
}
main .go_to_Portfolio {
  border: 3px solid white;
  border-radius: 20px;
  padding: 1rem 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0 2rem 0rem 0;
}
main .go_to_Contact {
  border: 3px solid white;
  border-radius: 20px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
main .mouse {
  border: none;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  animation: upDown 1s ease-in-out infinite;
  cursor: pointer;
}
@keyframes upDown {
  0% {
    bottom: 1rem;
  }
  50% {
    bottom: 1.5rem;
  }
  100% {
    bottom: 1rem;
  }
}

.about .about-self {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .about-self .left {
  width: 50%;
}
.about .about-self .left img {
  max-width: 100%;
}
.about .about-self .right {
  width: 50%;
  padding: 0 2rem;
}
.about .about-self .right h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.about .about-self .right h3 strong {
  background-color: #1074D9;
  color: #fff;
}
.about .about-self .right p {
  word-break: keep-all;
  font-size: 1.15rem;
  margin: 1rem 0;
}
.skill .skill-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill .skill-me .skill-inner {
  background-color: #fff;
  width: 30%;
  padding: 2rem;
  cursor: pointer;
}
.skill .skill-me .skill-inner .icon i {
  color: #1074D9;
  font-size: 2.5rem;
}
.skill .skill-me .skill-inner .content h3 {
  font-size: 2rem;
  margin: 1rem 0;
}
.skill .skill-me .skill-inner .content p {
  font-size: 1.15rem;
}
.skill .skill-me .skill-inner .content small {
  display: inline-block;
  font-size: 1rem;
  margin: 1rem 0;
}

.portfolio-me {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}
.portfolio-me .portfolio-inner {
  width: 30%;
  padding: 1rem 1rem 1.5rem 1rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  margin-bottom: 3rem;
}
.portfolio-me .portfolio-inner img {
  max-width: 100%;
  display: block;
}
.portfolio-me .portfolio-inner strong {
  color: #1074D9;
  margin: 0.5rem 0;
  display: block;
}
.portfolio-me .portfolio-inner h3 {
  font-size: 1.75rem;
}

.contact .contact-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .contact-1 .contact-inner {
  width: 30%;
  padding: 2rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}
.contact .contact-1 .contact-inner h3 {
  font-size: 1.5rem;
  color: #1074D9;
}
.contact .contact-1 .contact-inner h4 {
  font-size: 1.15rem;
  padding-top: 1rem;
}
.contact .contact-1 .contact-inner p {
  font-size: 1.05rem;
}
.contact .contact-1 .contact-inner img {
  max-width: 100%;
  margin: 2rem 0;
}
.contact .footer {
  padding: 5rem 0;
  text-align: center;
}
.contact .footer strong {
  padding: 2rem 0;
  display: block;
}
.contact .footer ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact span {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */