@media screen and (max-width: 1140px) {
  main .container {
    width: 992px;
  }

  section .container {
    width: 900px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }

  main {
    h4 {
      font-size: 1.75rem;
    }
  }

  section .container {
    width: 768px;
  }

  section .title {
    text-align: center;
  }

  .skill .skill-me,
  .portfolio-me,
  .contact .contact-1 {
    justify-content: space-evenly;
  }


  .contact .contact-1 {
    display: block;

    .contact-inner {
      text-align: center;
      margin: 0 auto;
      width: 70%;
      padding: 2rem;
      background-color: #f8f8f8;
      border: 1px solid #ccc;

      &:nth-child(2) {
        margin: 3rem auto;
      }
    }
  }

  .portfolio-me {
    display: block;

    .portfolio-inner {
      text-align: center;
      margin: 0 auto;
      width: 70%;
      &:nth-child(2){
        margin: 2rem auto;
      }

      img {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  section .container {
    width: 576px;
  }

  .about {
    .about-self {
      display: block;

      .left {
        margin: 0 auto;
      }

      .right {
        margin: 2rem auto;
        padding: 0;
        width: 100%;
        text-align: center;
        width: 80%;
      }
    }
  }

  .skill {
    .skill-me {
      display: block;

      .skill-inner {
        width: 80%;
        margin: 0 auto;

        &:nth-child(2) {
          margin: 2rem auto;
        }

      }
    }
  }
}

@media (max-width: 576px) {
  main .container {
    width: 390px;
  }

  section .container {
    width: 400px;
  }

}

@media (max-width: 400px) {

  section {
    .title {
      h2 {
        font-size: 2.75rem;
      }
    }
  }

  .about {
    .about-self {
      .right {
        h3 {
          font-size: 1.25rem;
        }

        p {
          font-size: 1rem;

        }
      }
    }
  }
}